 <!-- <=== upload teacher-material code start ===> -->


 <div class="inner-banner">
  <section class="w3l-breadcrumb">
    <div class="container">
      <h4 class="inner-text-title font-weight-bold mb-sm-3 mb-2">
       Update teacher upload material
      </h4>
    </div>
  </section>
</div>

 <section>
  <div class="container">
    <div class="row">
      <div class="col-md-6 mx-auto d-block">
        <div class="mx-auto d-block mb-5">
          <a routerLink="/layout/manage-material" class="btn btn-dark d-block mx-auto">Manage material</a>
        </div>
        <div>
          <form>
            <div class="row">
              <div class="col-md-6">
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label px-3">Department</label>
                    <select name="Department" id="#" class="form-control">
                      <option value="1">Choose Department</option>
                    </select>
                </div>
              </div>
              <div class="col-md-6">
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label px-3">Course</label>
                    <select name="Course" id="#" class="form-control">
                      <option value="1">Choose course</option>
                    </select>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label px-3">Semester</label>
                    <select name="Semester" id="#" class="form-control">
                      <option value="1">Choose Semester</option>
                    </select>
                </div>
              </div>
              <div class="mb-3 col-md-6">
                <label for="exampleInputPassword1" class="form-label px-3">Subject</label>
                  <select name="Subject" id="#" class="form-control">
                    <option value="1">Choose Subject</option>
                  </select>
              </div>
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label px-3">Upload/file</label>
              <input type="file" class="form-control px-3 text-uppercase" id="exampleInputPassword1">
            </div>
            <div class="login-button">
              <button type="submit" class="btn mx-auto d-block">Upload</button>
              <div class="row">
                <div class="col-md-6">
                </div><br><br>
                <div class="col-md-6">
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
 <!-- <=== upload teacher-material end ===> -->
