 <!-- <=== add course code start ===> -->

 <div class="inner-banner">
  <section class="w3l-breadcrumb">
    <div class="container">
      <h4 class="inner-text-title font-weight-bold mb-sm-3 mb-2">
       Update teacher
      </h4>
    </div>
  </section>
</div>

 <section>
  <div class="container">
    <div class="row">
      <div class="col-md-6 mx-auto d-block">
        <div class="mx-auto d-block mb-3">
          <a routerLink="/layout/manage-teacher" class="btn btn-dark">Manage teacher</a>
        </div><br>
        <div>
          <form [formGroup]="updateTeacher" (submit)="update()">
            <div class="row">
              <div class="col-md-6 mb-3 d-block mx-atuo">
                <label for="exampleInputEmail1" class="form-label px-3">Choose department</label>
                <ng-select formControlName="departmentId">
                  <ng-option *ngFor="let dept of allDepart;" [value]="dept._id">{{dept.name}}</ng-option>
               </ng-select>
              </div>
              <div class="col-md-6 mb-3 d-block mx-auto">
                <label for="exampleInputEmail1" class="form-label px-3">Choose course</label>
                <ng-select formControlName="courseId">
                  <ng-option *ngFor="let course of allCourse;" [value]="course._id">{{course.courseName}}</ng-option>
               </ng-select>
              </div>
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label px-3">Teacher name</label>
              <input type="text" class="form-control px-3 text-uppercase" formControlName="teacherName">
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label px-3">Designation</label>
                  <input type="text" class="form-control px-3 text-uppercase" formControlName="teacherDesignation">
                </div>
              </div>
              <div class="col-md-6">
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label px-3">Work Experience</label>
                  <input type="number" class="form-control px-3 text-uppercase" formControlName="workExperience">
                </div>
              </div>
            </div>
            <div class="login-button">
              <button type="submit" class="btn mx-auto d-block">Update</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
 <!-- <=== add course ===> -->
