 <!-- <=== admin-login code start ===> -->

 <div class="inner-banner">
  <section class="w3l-breadcrumb">
    <div class="container">
      <h4 class="inner-text-title font-weight-bold mb-sm-3 mb-2">
      Student register
      </h4>
    </div>
  </section>
</div>

 <section>
  <div class="container">
    <div class="row">
      <div class="col-md-6 mx-auto d-block">
        <div>
          <form>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label px-3">Full name</label>
              <input type="text" class="form-control px-3 " id="#" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label px-3">Email</label>
              <input type="email" class="form-control px-3" id="#" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label px-3">Password</label>
              <input type="password" class="form-control px-3" id="#">
            </div>
            <div class="login-button">
            <button type="submit" class="btn mx-auto d-block">Register</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
 <!-- <=== admin-login code end ===> -->
