 <!-- <=== upload teacher-material code start ===> -->


 <div class="inner-banner">
  <section class="w3l-breadcrumb">
    <div class="container">
      <h4 class="inner-text-title font-weight-bold mb-sm-3 mb-2">
       Teacher upload material
      </h4>
    </div>
  </section>
</div>

 <section>
  <div class="container">
    <div class="row">
      <div class="col-md-6 mx-auto d-block">
        <div class="mx-auto d-block mb-5">
          <a routerLink="/layout/manage-material" class="btn btn-dark d-block mx-auto">Manage material</a>
        </div>
        <div>
          <form>
            <div class="row">
              <div class="col-md-6">
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label px-3">Choose Department</label>
                  <ng-select>
                    <ng-option>1</ng-option>
                    <ng-option>2</ng-option>
                </ng-select>
                </div>
              </div>
              <div class="col-md-6">
                <label for="exampleInputEmail1" class="form-label px-3">Choose Course</label>
                <ng-select>
                  <ng-option>1</ng-option>
                  <ng-option>2</ng-option>
              </ng-select>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label px-3">Choose Semester</label>
                  <ng-select>
                    <ng-option>1</ng-option>
                    <ng-option>2</ng-option>
                </ng-select>
                </div>
              </div>
              <div class="col-md-6">
                <label for="exampleInputEmail1" class="form-label px-3">Choose Subject</label>
                <ng-select>
                  <ng-option>1</ng-option>
                  <ng-option>2</ng-option>
              </ng-select>
              </div>
            </div>
            <div class="mb-3">
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label px-3">Upload/file</label>
              <input type="file" class="form-control px-3 text-uppercase" id="exampleInputPassword1">
            </div>
            <div class="login-button">
              <button type="submit" class="btn mx-auto d-block">Upload</button>
              <div class="row">
                <div class="col-md-6">
                </div><br><br>
                <div class="col-md-6">
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
 <!-- <=== upload teacher-material end ===> -->
